@media only screen and (max-width: 1145px){
    .achievement-heading{
        font-size: 25px;
        margin: 7% 0px 6% 0px;
    }

    .width-img{
        width: 300px;
        height: 200px;
    }

    .achievement-content-container img{
        margin: 0px 30px 20px 30px;
    }

    .achievement-content-description{
        font-size: 20px;
    }
}