//Media Query For Responsiveness

@media only screen and (max-width: 1145px) {
    .navBar{
        flex-direction: column;
        transition: all 0.7s ease-out;
    }

    .navBar li a{
        font-size: 15px;
    }

    .navList{
        flex-direction: column;
    }

    .navList li{
        border: none;
        box-shadow: none;
        position: relative;
    }

    .intro-section{
        flex-direction: column-reverse;
    }

    .intro-img img{
        width: 150px;
        
    }

    .intro-line1{
        font-size: 20px;
    }
    
    .intro-line2{
        font-size: 20px;
    }

    .intro-line3{
        margin: 0px;
        font-size: 20px;
    }

    .intro-line4{
        font-size: 20px;
    }

    .description-section-container{
        flex-direction: column;
    }

    .about-content-part2{
        flex-direction: column;
    }

    .burger{
        display: block;
    }

    .height-nav-resp{
        height: 132px;
    }

    .visibility-class-resp{
         opacity: 0;
    }

    .about-content-part1{
        padding: 0;
        margin: 0;
    }

    .about-content-intro{
        flex-direction: column;
        display: flex;
        width: 80%;
        margin: 0px;
        padding: 0px;
    }

    .about-intro-text{
        width: 100%;
        padding: 5% 10%;
        text-align: justify;
        font-size: 23px;
    }    

    .about-content-part2{
        padding: 0;
    }

    .about-intro-img{
        margin-left: 10%;
        float: none;
    }

    .about-part2-container{
        width: 93%;
        padding: 20px 0px 20px 0px;
    }

    .footer-heading{
        font-size: 18px;
    }

    .icon-container{
        margin: 0px;
        width: 100%;
    }

    .icon-container a{
        margin: 22% 0px;
    }

    .resume-link{
        padding: 0px;
        margin: 0px;
    }

    .resume-div-resp{
        margin-top: 30px;
    }

    .footer-caption{
        margin: 10px 0px 3px 0px;
        padding: 0px;
        font-size: 20px;
    }
}
