body{
    width: 100%;
    background: linear-gradient(90deg, rgba(185,183,217,1) 0%, rgba(222,171,164,1) 35%, rgba(194,245,255,1) 100%);
}

//Index Page Header

.index_header{
    display: inline-block;
    padding: 10px;
    width: 90%;
    margin: 55px 55px 40px 55px;
    position: sticky;
}

.headLogo{
    float: left;
    font-family: 'Dancing Script',cursive;
    font-weight: 600;
    font-size: 55px;
    text-shadow: 0 0 4px #413d3d5c;
}

.navBar{
    float: right;
    padding: 15px;
}

.navBar a{
    padding: 10px;
    padding-bottom: 16px;
    margin: 6px;
    font-family: "Ubuntu",sans-serif;
    font-size: 21px;
    font-weight: 600;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px 0px rgb(164 164 164);
    
}

.get_in_touch{
    color: #ffffff;
    background-color: #0079a8;
}

//Index Article Portion

.content1{
    display: flex;
    width: 100%;
    margin-top: 3%;
    box-shadow: 0px 0px 8px 1px rgb(120 118 118 / 40%);
    background: linear-gradient(90deg, rgba(255,240,227,1) 0%, rgba(201,246,255,1) 100%);
}

.content1_left{
    width: 50%;
    text-align: center;
    font-size: 45px;
    padding: 50px;
    margin: 10px;
    margin-top: 3%;
}

.greet_text{
    width: 140%;
    text-align: left;
    padding: 10px 10px 13px 43.5%;
    font-size: 35px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    text-shadow: 0 0 4px #413d3d5c;
}

.greet_name{
    width: 121%;
    padding: 10px 10px 13px 19%;
    font-size: 40px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    text-shadow: 0 0 4px #413d3d5c;
}

.greet_des{
    width: 100%;
    margin-left: 40%;
    padding: 10px 10px 13px 22px;
    text-align: left;
    font-size: 35px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    box-sizing: border-box;
    background: #eabcbc;
    box-shadow: 0px 0px 8px 1px rgb(120 118 118 / 40%);
}


.greet_link{
    text-align: left;
    padding: 10px 24px 10px 6%;
    margin-left: 40%;
    font-size: 30px;
    font-family: "Ubuntu",sans-serif;
    font-weight: 600;
    box-sizing: border-box;
    background: #eabcbc;
    box-shadow: 0px 0px 8px 1px rgb(120 118 118 / 40%);
    margin-top: 12px;
    border-radius: 30px;
    width: 38%;
}

.content1_right{
    width: 37%;
    padding: 3% 0px 10px 12%;
    margin-bottom: 2%;
}

.content1_right img{
    box-shadow: 0px 0px 20px 9px rgb(120 118 118 / 40%);
}

.content2{
    padding: 60px;
    margin-top: 5%;
    margin-bottom: 5%;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px 6px rgb(0 0 0 / 12%);
}

.content2_heading{
    text-align: center;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-shadow: 0 0 6px #0000007a;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 14%);
    margin: 0px 31% 0px 29%;
    padding: 10px 5px 10px 5px;
    background: linear-gradient(90deg, rgba(255,240,227,1) 0%, rgba(201,246,255,1) 100%);
}

.content2_content_container{
    display: flex;
    padding: 0px 60px 0px 60px;
    margin-top: 5%;
    margin-bottom: 53;
}

.content2_body_container{
    padding: 30px;
    margin: 14px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
    border-radius: 6px;
    //background: linear-gradient(90deg, rgba(175,236,254,0.8326681014202556) 0%, rgba(233,159,93,0.8214636196275386) 100%);
}

.content2_body_container p{
    padding: 35px 35px 15px 35px;
    margin: 5px 5px 50px 5px;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 22px;
}

.content2_body_container a{
    margin: 0px 28% 0px 28%;
    padding: 7px 20px 7px 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 13px 0px rgb(0 0 0 / 14%);
    border-radius: 36px;
    background: linear-gradient(90deg, rgba(255,240,227,1) 0%, rgba(201,246,255,1) 100%);
    font-family: "Ubuntu",sans-serif;
}
//index Footer CSS
footer{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 1%;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px 6px rgb(0 0 0 / 12%);
    padding: 50px;
    text-align: center;
}

.icon_container{
    margin: 30px 30px 15px 30px;
}

.icon_container a{
    padding: 10px;
    margin: 12px;
    opacity: 0.65;
}

.footer_heading{
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-shadow: 0 0 6px #0000007a;
    text-decoration: underline;
    margin: 0px 0px 26px 0px;
    padding: 5px;
}

.icon_container a img{
    width: 35px;
}

.footer_caption{
    padding: 20px 30px 7px 30px;
    margin: 10px 30px 3px 30px;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 0 0 3px #00000073;
}

.page_copyright{
    opacity: 0.60;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 0 0 3px #00000073;
}

.copyright_img img{
    width: 100px;
    height: 77px;
    padding: 8px;
    border-radius: 64px;
    margin: 20px 5px 10px 5px;
    background-color: #ffffff6b;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 39%);
}